apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: statefulset
  labels:
    app: newapp
spec:
  replicas: 4
  selector:
    matchLabels:
      app: newapp
  template:
    metadata:
      labels:
        app: newapp
    spec:
      containers:
      - name: db-container
        image: mysql
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: config
              key: rootpw
