
apiVersion: apps/v1
kind: StatefulSet
metadata: 
  name: statefulset
  labels: 
    app: newapp
spec:
  replicas: 4
  selector: 
    matchLabels:
      app: newapp
  template:
    metadata: 
      labels: 
        app: newapp
    spec:
     containers:
        - name: mynginxapp
          image: maridb:latest
          ports:
            - containerPort: 3306
              protocol: TCP
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: "1234"
             
