apiVersion: v1
kind: Service
metadata: 
  name: mobilesrv
spec:
  type: ClusterIP
  selector:
    app: deployappmob
  ports:
    - port: 80
      targetPort: 80
      name: httpd
      protocol: TCP
